body {
  background-color: aqua;
}
h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 70, 70);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
  }
  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
  
  p {
    color: rgb(0, 0, 0);
    text-align: left;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid white;

  }

ul {
  text-align: left;
  font-weight: normal;
}
ol {
  text-align: left;
  font-weight: bold;
}

blockquote {
  color: white;
  padding: 3px 10px;
  border: rgb(104, 104, 104) 3px solid;
  border-radius: 20px;
  background-color: rgb(55, 123, 163);
}
.special {
  color: orange;
  font-weight: bold;
}

html {
  background: gold url("tartan.png");
}

ol, ul, h1, h2, h3, p, b, em {
  color: white;
}

.outer {
  border: 5px solid black;
}

.box {
  padding: 10px;
  width: calc(1000% - 30px);
  background-color: rebeccapurple;
  color: white;
  text-align: center;
}

ol {
  border: 10px solid rgb(255, 0, 0);
  margin-left: 600px;
  margin-right: 600px;
  background-color: rgb(143, 148, 68);
}

